* {
    color: antiquewhite;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.top {
    background-color: #1f2937;

}

header {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
   
}

nav {
    display: flex;
}

.headerbar a {
    text-decoration: none;
    font-size: 24px;
    color: antiquewhite;
    padding: 5px;
}

.headerbar a:hover {
    text-shadow: 0 0 10px #FFFFFF;
    color: white;

}

.name {
    color: antiquewhite;
    font-size: 24px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    
}

main {
    display: flex;
    align-items: center;
}