* {
    box-sizing: border-box;
}

.headerbar {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    background-color: #1f2937;
    color: antiquewhite
   
}

.headerbar a {
    text-decoration: none;
    font-size: 24px;
    color: antiquewhite;
    padding: 5px;
}

.headerbar a:hover {
    text-shadow: 0 0 10px #FFFFFF;
    color: white;

}

.name {
    color: antiquewhite;
    font-size: 24px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    
}

section {
    display: flex;
    align-items: center;
    margin: 50px 50px 0px 50px;
    
}

.hero-right {
    position: relative;
}

.hero-right:hover .overlay {
    opacity: 1;
}



.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border: radius 50px; ;
}


.hero-right img{
    width: 500px;
    height: auto;
    border-radius: 50px 50px 0px 0px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding: 20px;
    line-height: 1.5;
}

h1 {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    
}


main {
    display: flex;
    
    
}

main h2 {
    text-align: center;
    
}

main img {
    width:auto;
    height: 300px;
    padding: 24px;
    
}

main a {
    display: flex;
    flex-direction: column-reverse;
}